@import '~@angular/material/prebuilt-themes/indigo-pink.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Noto Sans TC', 'Helvetica Neue', Arial, sans-serif;
  background-color: #f4f6f8;
  color: #1f2933;
}

a {
  color: inherit;
  text-decoration: none;
}

mat-sidenav-container {
  height: 100vh;
}
